body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(309deg, rgba(131, 58, 180, 1) 0%, rgba(200, 42, 18, 0.87718837535014) 79%);
    background-repeat: no-repeat;
    background-size: cover;
}


.wrapper {
   
    display: flex;
    flex-direction: column;
    margin-top: 20%;
   
}
h1{
    color: aqua;
}
#btn {
    background-color: black 
    
}
#btn:hover{
    background-color: aliceblue;
    
}